@import "styles.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto+Slab:wght@500&display=swap');

body
/* button,
input,
select,
textarea */ {  
  display: flex;
  flex-direction: column;
	background-color: white;
	color: black;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
  margin-left: 2em;
  margin-bottom: 2em;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
}

.label {
  font-size: 18px;
}

/* .radio {
  display: flex;
} */

